<h1>Connection Setup</h1>

<h4>Select Available Network</h4>

<form class="form-horizontal" action="/internet/connect" method="POST">
	<div class="form-group">
		<div class="col-sm-7">
			<button class="btn btn-success" type="submit">Next</button>
		</div>
	</div>
</form>